<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Dashboard</h2>
        <p>Name: <%= name %>
        </p>
        <p>Username: <%= email %>
        </p>

        <!-- Admin-only link to users management page -->
        <% if (user && user.role_name==='admin' ) { %>
            <p><a href="/users">View All Users (Admin)</a></p>
            <% } %>

    </main>

    <%- include('partials/footer') %>